@{
    ViewData["Title"] = "Admitere";
}


<body>

        <section>

            <div class="sectiune_text">
                <div class="container">
                    <h1>PROGRAME DE STUDII</h1>
                    <p>
                        <p>&lowast; Facultatea de Sisteme Integrate de Armament, Geniu și Mecatronică (Facultatea A)</p>
                        <br />
                        - Armament, aparatură artileristică şi sisteme de conducere a focului
                        <br />
                        - Armament, rachete, muniţii de aviaţie şi sisteme de salvare
                        <br />
                        - Muniții, rachete, explozivi și pulberi
                        <br />
                        - Materiale energetice și apărare CBRN
                        <br />
                        - Construcţii şi fortificaţii
                        <br />
                        - Topogeodezie şi automatizarea asigurării topogeodezice
                        <br />
                        - Sisteme pentru baraje de mine, distrugeri şi mascari
                        <br />
                        - Drumuri, poduri și infrastructuri militare
                        <br />
                        <p>&lowast; Facultatea de Aeronave și Autovehicule Militare (Facultatea B)</p>
                        <br />
                        - Blindate, automobile şi tractoare
                        <br />
                        - Echipamente şi sisteme de comandă şi control pentru autovehicule
                        <br />
                        - Aeronave şi motoare de aviaţie
                        <br />
                        - Echipamente și instalații de aviație
                        <br />
                        <p>&lowast; Facultatea de Sisteme Informatice și Securitate Cibernetică (Facultatea C)</p>
                        <br />
                        - Calculatoare și sisteme informatice pentru apărare și securitate națională
                        <br />
                        - Ingineria și securitatea sistemelor informatice
                        <br />
                        <p>&lowast; Facultatea de Comunicații și Sisteme Electronice pentru Apărare și Securitate (Facultatea E)<p>
                        <br />
                        - Comunicații pentru apărare și securitate
                        <br />
                        - Echipamente și sisteme electronice militare
                        <br />
                        - Echipamente și sisteme electronice militare, electronică-radioelectronică de aviație
                        <br />
                        <br />
                    </p>

                </div>
            </div>


            <article>
                <div class="imagineMAPN"></div>
                <a href="galerie.html">
                    <h2>MAPN</h2>
                </a>
            </article>
            <article>
                <div class="imagineMAI"></div>
                <a href="galerie.html">
                    <h2>MAI</h2>
                </a>
            </article>
            <article>
                <div class="imagineSRI"></div>
                <a href="galerie.html">
                    <h2>SRI</h2>
                </a>
            </article>
            <article>
                <div class="imagineSIE"></div>
                <a href="galerie.html">
                    <h2>SIE</h2>
                </a>
            </article>
            <article>
                <div class="imagineSTS"></div>
                <a href="galerie.html">
                    <h2>STS</h2>
                </a>
            </article>
            <article>
                <div class="imagineSPP"></div>
                <a href="galerie.html">
                    <h2>SPP</h2>
                </a>
            </article>
            <article>
                <div class="imagineANP"></div>
                <a href="galerie.html">
                    <h2>ANP</h2>
                </a>
            </article>
        </section>


</body>




<style>

    section
    {
        width: 100%;
        background-color: white;
        overflow: hidden;
        margin-bottom: 100px;
    }


    .sectiune_text h1 {
        color: back;
        font-size: 25px;
        margin-top: 90px;
        margin-bottom: 50px;
        text-align: center;
        text-transform: uppercase;
        word-spacing: 5px;
    }

    .sectiune_text {
        color: black;
        margin-top: 20px;
        font-size: 18px;
        margin-bottom: 100px;
        text-indent: 50px;
        text-family: Arial;
    }



    section article
    {
        width: 30%;
        background-color: whitesmoke;
        float: left;
        margin: 10px 15px 15px;
    }


    .imagineMAPN {
        width: 100%;
        height: 300px;
        background-color: #cccccc; /* Used if the image is unavailable */
        background-image: url("../Imagini/mapn.jpg");
        background-position: center;
        background-size: cover;
    }

    .imagineMAI {
        width: 100%;
        height: 300px;
        background-color: #cccccc; /* Used if the image is unavailable */
        background-image: url("../Imagini/mai.jpg");
        background-position: center;
        background-size: cover;
    }

    .imagineSRI {
        width: 100%;
        height: 300px;
        background-color: #cccccc; /* Used if the image is unavailable */
        background-image: url("../Imagini/SRI.png");
        background-position: center;
        background-size: cover;
    }

    .imagineSIE {
        width: 100%;
        height: 300px;
        background-color: #cccccc; /* Used if the image is unavailable */
        background-image: url("../Imagini/SIE.png");
        background-position: center;
        background-size: cover;
    }

    .imagineSTS {
        width: 100%;
        height: 300px;
        background-color: #cccccc; /* Used if the image is unavailable */
        background-image: url("../Imagini/STS.png");
        background-position: center;
        background-size: cover;
    }

    .imagineSPP {
        width: 100%;
        height: 300px;
        background-color: #cccccc; /* Used if the image is unavailable */
        background-image: url("../Imagini/SPP.jpg");
        background-position: center;
        background-size: cover;
    }

    .imagineANP {
        width: 100%;
        height: 300px;
        background-color: #cccccc; /* Used if the image is unavailable */
        background-image: url("../Imagini/ANP.jpg");
        background-position: center;
        background-size: cover;
    }

    section article a h2 {
        color: skyblue;
        text-align: center;
        text-transform: uppercase;
        padding: 15px;
        font-size: 20px;
        font-weight: 600;
        font-family: Arial;
    }


    article a h2:link {
        text-decoration: none;
    }

    article a h2:visited {
        text-decoration: none;
    }

    article a h2:hover {
        text-decoration: underline;

    }

    article a h2:active {
        text-decoration: underline;
    }

</style>

